@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');


.wrapper {display: flex; align-items: center;}
.static {color: #000; font-size: 70px;}
.dynamic {position: relative; margin-left: 25px; line-height: 90px; height: 90px; overflow: hidden;}
.dynamic li {list-style: none; color: #8c2f2f; font-size: 60px; position: relative; top: 0; animation: slide 12s steps(4) infinite;}
.dynamic li::after {content: ""; position: absolute; width: 100%; height: 100%; background-color: #fff; left: 0%; border-left: 4px solid #8c2f2f; animation: typing 3s steps(10) infinite;}
@keyframes slide {100% {top: -400%;}}
@keyframes typing {10% {left: 0%;} 50% {left: 100%;} 100% {left: 0%;}}

.button{font-size: 40px; border-radius: 10px ; cursor:pointer; border-style: none; background-color: rgb(215, 102, 21); color: white; padding: 15px; box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); position: relative; z-index: 1;}
.button::before{content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.9); transform: scaleX(0); transform-origin: left; transition: transform 700ms; z-index: -1;}
.button:hover::before{transform: scaleX(1); cursor:pointer;}

.sec-btn{
    margin-top: 20px;
    padding: 10px;
    height: fit-content;
    border-style: none;
    cursor: pointer;
    background-color: #E84949;
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}
#wrapper{
    width: 100%;
    height: auto;
}

.navbar{
    display: flex;
    justify-content: space-between;

}

.nav-logo{
    display: inline;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    position: relative;
    user-select: none;
}
.nav-logo span{
    font-family: 'Dancing Script', cursive;
    position: absolute;
    top: 36%;
    left: 51%;
}
.nav-logo img{
    width: 100px;
    height: 100px;

}

.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    gap: 90px;
}
.nav-menu ul{
    display: flex;
    gap: 40px;

}
.nav-menu li{
    list-style: none;
    font-size: 50px;

    /* text-decoration: none; */
   
    
}
.nav-menu a:hover{
font-size: 30px;
font-weight: bold;
}
.nav-menu a{
    font-family: "Be Vietnam Pro", sans-serif;
    text-decoration: none;
    color: #1f1f1f;
    transition: all 0.3s linear;
    font-size: 24px;
    line-height: 25px;
}
.hero-section{
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 3fr 2fr;

}
.hero-txt{
    margin: 90px 50px;
    /* padding: 30px 0px; */
    line-height: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
.txt-1{
    color:#e84949;
    margin-bottom: 20px;
    font-size: 2rem;
    font-family: 'Merriweather Sans', sans-serif;
    
}
.txt-3{
    font-family: 'Roboto Slab', serif;
    margin: 40px 0px;
     line-height: 40px;
     font-size: 25px;
}

.txt-3 button{
    margin-top: 40px;
    border-style: none;


}

.hero-img{
    /* position: relative; */
    display: flex;
    width: 400px;
    height: 600px;
    justify-content: center;
    align-content: center;


}
.img-box{
position: relative;
}
.icons{
    position: absolute;
    top: 0%;
    left: 0%;
    animation: rotate 4s linear infinite alternate;
}
@keyframes rotate {
    0%{
         transform: scale(0);

    }
    20%{
       

    }
    50%{
        transform: scale(1.3), translate(10px);
    }
    100%{
        
        /* transform: scale(0); */
    }
}

.dots{
    /* position: absolute; */
    top: 75%;
    left:75%;
}
.zigzag{
    /* position: absolute; */
    top: 25%;
    left: 33%;
}
.cube{
    /* position: absolute; */
    top: 15%;
    left: 80%;

}
.circle{
    top: 80%;
    left: 35%;
}
.plus{
    top: 20%;
    left: 50%;
}
.user-img{
    margin: 140px 100px 140px 240px ;
    padding: 50px;
    width: 280px;
    height: 350px;
    
    transform: scale(1);    
    animation: upscale 4s linear infinite;
}
@keyframes upscale {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.4);
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.6);
    }
    100%{
        transform: scale(1);

    }
}






.projects{
    width: 100%;
    padding: 70px;

    background-color: rgba(0, 0, 0, 0.1);

    
    
}
.project-box{
    width: 100%;
    display: flex;

    flex-direction: column;
    gap: 90px;


}



.project-items{
    color: #fff;
    position: absolute;
    top:20%;
    left: 10%;
    transform: scale(1);
    
}

.project-items img{
    margin: 10px;
    width: 60px;
    height: 60px;
    transition: transform 500ms linear;

}
.project-items h2{
    margin: 20px 0px;
    font-size: 3rem;

}
.project-items p{
    /* margin: 30px 0px; */
    font-size: 1.2em;
}

.projects img{
   
    max-width:100%;
}

.project-heading{
    margin: 50px;
    color: #E84949;
    font-size: 100px;
    text-align: center;
    text-shadow :2px 2px  #000;
}

.project-common{
    width: 80%;
    height: fit-content;
    align-self: flex-start;
    position: relative;
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    transform-style: preserve-3d;

}

.project-common::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(60, 107, 62, 0.9);
    z-index: 1;
    transform-origin: left;
    
    transform: scaleX(0) ;
    transition: transform 500ms linear;
}
.project-common:hover::before{
   
    transform: scaleX(1);
    z-index: 0;
}

.project-common:hover .project-items-txt{
    transform: scale(1.1);
    z-index: 8;
}

.project-common:hover .project-items>img{
    transform: scale(1.3);
    
}

.project-common:hover >.pr-no{
    z-index: 10;
}
.project-items-txt{
    z-index: 3;
    transform: scale(1);
    transition: transform .5s linear;
    text-shadow: 2px 2px #000000;
}




.project1{

    width: 80%;
    height: fit-content;
    align-self: flex-start;
    
}
.project2{
    width: 80%;
    height: fit-content;
    
    align-self: flex-end;
}
.project3{
    width: 80%;
    height: fit-content;
    
    align-self: flex-start;
}
.project4{
    width: 80%;
    height: fit-content;
    
    align-self: flex-end;
}

.pr-no{
    z-index: -1;
    position: absolute;
    top: 0%;
    left: 80%;
    font-size: 160px;
    font-weight: bold;
    transition: z-index 100ms ease-in-out;
    
}




.skills{
    padding: 40px;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    display: grid;
    /* grid-template-rows: 1fr; */
    grid-template-columns: 1fr 1fr;

}
.skills-left{
    font-family: "Be Vietnam Pro", sans-serif;
    
}
.skills-left h1{
    color: #e84949;
    font-size: 80px;
    margin-top: 0%;

}
.skills-left p{
    margin:30px 0px;
    font-size: 1rem;
    text-align: justify;

}
.skills-right{
    position: relative;
    padding: 0px 60px;

    
}
.stacks-logo{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(4,1fr);
    gap: 10px;

}
.stacks-logo img{
    width: 90px;
    height: 90px;
    transform: scale(1);
    transition: transform 400ms linear ;
}
.stacks-logo img:hover{
    transform: scale(1.2);
}
#blob{
    position: absolute;
    left: 30%;
    top: 40%;
    z-index: -1;
    animation: shake-blob 4s linear infinite;
}
@keyframes shake-blob {
    40%{
        top: 30%;
        left: 25%;
    }
    80%{
        top: 25%;
        left: 20%;
    }
}

.contact-me{
    padding: 30px;
    background-color: aliceblue;
    min-height: 100vh;
    /* max-height: 100vh; */
    width: 100%;
    /* display: flex; */
    /* flex-direction: column;
    align-items: center; */

}
#contact-heading{
    font-size: 90px;
    font-weight: bold;
    color: #E84949;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#contact-ques{
    
    font-size: 50px;
    color: rgba(18, 234, 108, 0.9);
    text-shadow: 1px 1px black;
}
.contact-inputs>form{
    padding: 20px 400px;
    display: flex;
    flex-direction:column;
    align-items: center;
}
#message{
    margin: 10px;
    padding: 10px 20px;
    font-size: 1.3rem;
    box-shadow: 2px 2px 10px #1f1f1f;
    border-radius: 7px;
    border-style: none;
}
.contact-inputs input{
    margin: 15px;
    padding: 0px 20px;
    width: 400px;
    height: 50px;
    font-size: 1.3rem;
    box-shadow: 2px 2px 10px #1f1f1f;
    border-radius: 7px;
    border-style: none;
}
#submit-btn{
    margin-top: 10px;
    height: fit-content;
    width: fit-content;
    /* width: 100px;
    height: 40px; */
    padding: 8px 40px;

}

.footer-section{
    background-color: rgba(56, 28, 146, 0.9);
    padding:  30px 50px;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px -2px 2px 2px #000;
}
.footer-section .footer-copyright{
    color: white;
    font-size: 40px;
    
}
.footer-logo > img{
    width: 60px;
    height: 60px;
    transform: scale(1);
    transition: transform 300ms linear ;
}
.footer-logo img:hover{
    transform: scale(1.4);
    cursor:pointer;
}
